/* Box colors */

.bg-2 {
	background: #7986cb;
	color: #ECEFF1;
}

/* Common button styles */
.button1 {

	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	float: right;
}
.button1:focus {
	outline: none;
}
.button1 > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-2 .button1 {
	color: #ECEFF1;
	border-color: #ECEFF1;
}

/* Sizes */
.button--size-s1 {
	font-size: 14px;
}
.button--size-m1 {
	font-size: 16px;
}
.button--size-l1 {
	font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper1 {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin1 {
	font-weight: 300;
}
.button--text-medium1 {
	font-weight: 500;
}
.button--text-thick1 {
	font-weight: 600;
}
.button--round-s1 {
	border-radius: 5px;
}
.button--round-m1 {
	border-radius: 15px;
}
.button--round-l1 {
	border-radius: 40px;
}

/* Borders */
.button--border-thin1 {
	border: 1px solid;
}
.button--border-medium1 {
	border: 2px solid;
}
.button--border-thick1 {
	border: 3px solid;
}

/* Ujarak */
.button--ujarak1 {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak1.button--round-s1::before {
	border-radius: 2px;
}
.button--ujarak1.button--inverted1::before {
	background: #7986CB;
}
.button--ujarak1,
.button--ujarak1::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak1:hover {
	color: #fff;
	border-color: #37474f;
}
.button--ujarak1.button--inverted1:hover {
	color: #37474F;
	border-color: #fff;
}
.button--ujarak1:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
